* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}


.main {
    padding:25px 35px 25px 35px;
    display: flex;
    flex-direction: column;
    width:100%;
    height:100%;
}
.wrapper__header {
    width:100%;
    height:100px;
    color:gray;
    font-size: 11px;
    
}
.wrapper__body {
    padding:20px;
    width:100%;
}
.subtitle {
    font-family:'Times New Roman', Times, serif;
    font-size: 8px;
    color: black;
    padding-left: 10px;
}
.title {
    font-weight: bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #55B2D4;
    font-size:18px;
}
.wrapper__header__line {
    margin: 10px 0 10px 0;
}
.body__body__video {
    width:100%;
    height:222px;
    background-color: blanchedalmond;
}
.main__body__header {
    margin-bottom: 13px;
}
video {
    width:100%;
    height:100%;
}