* {
    box-sizing: border-box;
    padding:0px;
    margin:0px;
}

.background {
    background-image: url('../images/background.png');
    width:1024px;
    height:600px;
    /* padding:20px 0 0 20px; */
    padding-top:20px;
    padding-left:20px;
}

.outerbox {
    background-image: url('../images/outerbox.png');
    width:808px;
    height:544px;
}
.wrapper {
    display: flex;
    flex-direction:row;
    padding:32px 0 0 32px;
}
.wrapper__left {
    width:208px;
    height:448px;
}
.wrapper__right {
    width:524px;
    height:448px;
    margin-left: 2px;
}
.wrapper__left__header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height:30px;
    align-items: center;
    font-size:10px;
    color: #55B2D4;
    font-family:'Times New Roman', Times, serif;
    letter-spacing: 1px;
}

.left__body__header {
    display: flex;
    width:100%;
    flex-direction: column;
}

.left__body__header__gray {
    width:148px;
    height:133px;
    background-color: gray;

}
.left__body__header__line {
    margin-top: 12px;
    border-top: 1px dotted black;
}
.wrapper__left__body {
    display: flex;
    width:100%;
    height:100%;
    flex-direction: column;
    padding: 20px 30px 20px 30px;
    border: 1px solid gray;
    border-radius: 15px;
    background-color: white;
}
.left__body__profile {
    margin-top: 10px;
    height:220px;
    font-size: 9px;
    line-height: 21px;
    color:gray;
}
.left__footer__mood {
    font-size:11px;
    color:gray;
}
.footer__mood__select {
    margin-top: 10px;
    font-size:11px;
    width:130px;
    color:gray;
    border-radius: 4px;
}
.fab {
    color:red;
    font-size: 20px;
}
.wrapper__right__header {
    width:510px;
    padding: 10px 0 0 30px;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #55B2D4;
    font-family:'Times New Roman', Times, serif;
    padding-bottom: 2px;
}

.right__header__left {
    font-weight: bold;
}
.right__header__right {
    font-size: 9px;
    color:black;
}
.wrapper__right__body {
    background-color: white;
    width: 510px;
    height:100%;
    border-radius: 15px;
}
iframe {
    border: 1px gray solid;
    width:100%;
    height:100%;
    border-radius: 15px;
}
.navigation{
    width:62px;
    height:100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    left: 772px;
    top:100px;
}
.navigation__item {
    width:80px;
    height:30px;
    background-color: #298eb5;
    font-size: 11px;
    text-align: center;
    color:white;
    border: 1px solid black;
    border-radius: 0 10px 10px 0;
    line-height: 30px;
    cursor: pointer;
}